.slid-1 {
    width: 100%;
    margin: auto;
    background-color: white;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-prev,
  .slick-next {
    z-index: 1;
  }
  
  .slider-image {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    border-radius: 10px;
  }
  