.slid-1 {
  width: 100%;
  margin: auto;
  background-color: white;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slider-image {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
